<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav-2">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand-2" href="#page-top">Better Now</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav-2 ms-auto my-2 my-lg-0">
                <li class="nav-item-2"><a class="nav-link-2" href="loginForm.me">Login</a></li>
                <!-- <li class="nav-item-2"><div class="nav-welcome" href="">[ 회원111 님 ] </div></li>
                <li class="nav-item-2"><a class="nav-link-2" href="#logout">Logout</a></li>
                <li class="nav-item-2"><a class="nav-link-2" href="#mypage">Mypage</a></li> -->
                <li class="nav-item-2"><a class="nav-link-2" href="membership.ms">membership</a></li>
                <li class="nav-item-2"><a class="nav-link-2" href="facilities.ms">Services</a></li>
                <li class="nav-item-2"><a class="nav-link-2" href="#board">Board</a></li>
            </ul>
        </div>
    </div>
</nav>