<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:replace="/layout/header" />
  <th:block th:replace="/layout/navbar" />
</head>
<body>
    <!-- myPage -->
    <section class="page-section" id="myPage">
      <br><br>
      <div class="container px-4 px-lg-5" style="width: 75%; height: 850px;">
        <!-- my profile -->
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 col-xl-6 text-center">
            <h3 class="mt-0">마이 페이지</h3>
            <hr class="divider" /><br>
          </div>
        </div><br>
        <div class="container px-4 px-lg-5 myPageProfile">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <img src="/static/img/" width="200px" height="200px">
            <div class="myPageId" name="memId" sec:authentication="principal.username" var="memId">userId</div>
          </div>
        </div>
        <!-- my membership info -->
        <div class="px-4 px-lg-5 myPageMembership">
          <h5 style="margin-top: -30px;">Now</h5>
          <div class="myPageMembershipInfo">
            <table class="myPageMembershipTable">
              <!-- <tr><th>현재 이용중인 자리가 없습니다.</th></tr> -->
              <tr>
                <th>이용중인 자리</th>
                <td>13 번</td>
              </tr>
              <tr>
                <th>시작 시간</th>
                <td>14시 22분</td>
              </tr>
              <tr>
                <th>남은 시간</th>
                <td>3시간 23분</td>
              </tr>
            </table>
          </div>
          <button type="button" class="btn btn-primary myPage_buySeat" onclick="location.href='/choiceSeat'">자리 예약하러 가기</button>
          <h5>Your Membership</h5>
          <div class="myPageMembershipInfo2">
            <table class="myPageMembershipTable">
              <tr>
                <th>시간권</th>
                <!-- <td>34 시간</td> -->
                <td>0 시간</td>
              </tr>
              <tr>
                <th>금액권</th>
                <!-- <td>34,000 원</td> -->
                <td>0 원</td>
              </tr>
            </table>
          </div>
          <button type="button" class="btn btn-primary myPage_buyMembership" onclick="location.href='/membership'">멤버쉽 구매하러 가기</button>
          <h5>Payment History</h5>
          <div class="myPageMembershipInfo2">
            <table class="myPageMembershipTable">
              <!-- <tr><th>구매한 멤버쉽 내역이 없습니다.</th></tr> -->
              <tr>
                <th>2020.11.04</th>
                <td>50,000 원권</td>
              </tr>
              <tr>
                <th>2021.03.22</th>
                <td>50 시간권</td>
              </tr>
              <tr>
                <th>2021.06.11</th>
                <td>100,000 원권</td>
              </tr>
            </table>
          </div>
          <div class="paymentHistoryInfo" style="font-size: small;">* 멤버쉽 구매 내역만 조회됩니다.</div>
          <h5>Inquiry Chatting</h5>
          <button type="button" class="btn btn-secondary btn-block myPage_chatting_btn">문의 채팅창 GO</button>
          <div class="paymentHistoryInfo" style="font-size: small;">
            * 1:1 채팅으로 궁금한 점들을 문의해보세요.<br>
            * 채팅 내용은 관리자만 확인 가능하며, 순차적으로 답변 해드립니다.
          </div>
        </div>
      </div>
    </section>
</body>
<!--<script type="text/javascript" th:src="@{../static/js/custom/findIdPwd.js}"></script>-->
<footer th:replace="/layout/footer" />