{{>layout/header}}
{{>layout/navbar}}
<body>
<!-- login -->
<section class="page-section" id="login">
    <br><br>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">로그인</h2>
                <hr class="divider" />

            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6" style="width: 40%;">
                <form id="loginForm" data-sb-form-api-token="API_TOKEN">
                    <!-- ID input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="id" type="text" placeholder="아이디를 입력해주세요" data-sb-validations="required" />
                        <label for="id">아이디를 입력해주세요</label>
                        <div class="login-id-feedback">아이디를 정확히 입력해주세요.</div>
                    </div>
                    <!-- Password input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" type="password" placeholder="비밀번호를 입력해주세요" data-sb-validations="required" />
                        <label for="password">비밀번호를 입력해주세요</label>
                        <div class="login-pwd-feedback">비밀번호를 입력해주세요</div>
                        <div class="login-pwd-feedback">비밀번호를 정확히 입력해주세요.</div>
                    </div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">로그인</button></div>
                    <div class="d-grid" style="float: left; width: 48%; margin-right: 4%;">
                        <button type="button" class="btn-success btn-xl-2" id="" onclick="location.href=''">네이버 로그인</button>
                    </div>
                    <div class="d-grid" style="width: 48%;">
                        <button type="button" class="btn-warning btn-xl-2" id="" onclick="location.href=''">카카오 로그인</button>
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-secondary btn-xl" id="signupForm" onclick="location.href='signUpForm.me'">회원 가입</button>
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-light btn-xl-3" id="" onclick="location.href=''">아이디/비밀번호 찾기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
{{>layout/footer}}