{{>layout/header}}
{{>layout/navbar}}
<!-- join -->
<body>
<section class="page-section" id="joinus">
    <br><br>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">회원가입</h2>
                <hr class="divider" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- ID input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="id" type="text" placeholder="아이디를 입력해주세요" data-sb-validations="required" />
                        <label for="id">아이디를 입력해주세요</label>
                        <div class="join-id-feedback">사용할 수 없는 아이디 입니다.</div>
                    </div>
                    <!-- Password input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" type="password" placeholder="비밀번호를 입력해주세요" data-sb-validations="required" />
                        <label for="password">비밀번호를 입력해주세요</label>
                        <div class="join-pwd-feedback">비밀번호를 정확히 입력해주세요.</div>
                    </div>
                    <!-- Password input check -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="passwordCheck" type="password" placeholder="비밀번호를 한번 더 입력해주세요" data-sb-validations="required" />
                        <label for="passwordCheck">비밀번호를 한번 더 입력해주세요</label>
                        <div class="join-pwdcheck-feedback">비밀번호가 일치하지 않습니다.</div>
                    </div>
                    <!-- phoneNumber input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phoneNumber" type="number" placeholder="전화번호를 입력해주세요" data-sb-validations="required" />
                        <label for="phoneNumber">전화번호를 입력해주세요</label>
                        <div class="join-pwdcheck-feedback">전화번호를 입력해주세요</div>
                    </div><br>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">가입하기</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
{{>layout/footer}}
