{{>layout/header}}
{{>layout/navbar}}
<body id="page-top">
<!-- mainPage -->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h2 class="text-white font-weight-bold">더 나은 지금을 위한 스터디 공간,</h2>
                <h2 class="text-white font-weight-bold">Better Now</h2>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">
                    오롯이 집중할 수 있도록, 쾌적하고 편안한 공간을 제공해드려요. <br>
                    내가 원하는 자리에서, 원하는 시간만큼 자유롭게 !
                </p>
                <a class="btn btn-primary btn-xl" href="#membership">좌석 예약하기</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="membership">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">더욱 합리적인 가격으로, 멤버쉽 혜택</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">
                    배러나우 회원이라면 이정도 혜택은 받아야죠. <br>
                    시간제 충전과 요금제 충전으로 가격 부담도 덜고 매번 결제하는 번거로움도 덜어보세요.
                </p>
                <a class="btn btn-light btn-xl" href="membership.ms">멤버쉽 요금제 보러가기</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">배러나우 이용 가이드</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">미리 예약</h3>
                    <p class="text-muted mb-0">어제 그 자리 오늘은 비었을까? <br> 기다리지 말고, 미리 찜해보세요.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">노트북 Zone</h3>
                    <p class="text-muted mb-0">타자 칠 때마다 조심조심 눈치보지 않아도 돼요.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">무료 Wifi</h3>
                    <p class="text-muted mb-0">구석 자리에서도, 와이파이 빵빵하게 무료로 이용하세요.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">휴식 공간</h3>
                    <p class="text-muted mb-0">가끔은 머리도 식힐 겸, 휴식 공간에서 무료 간식과 함께 쉬어가요.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">1:1 채팅 문의</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">
                    배러나우에 대해 궁금한 점이 있으신가요? <br>로그인 후, 1:1 채팅 서비스로 문의해보세요 :) <br>
                    문의 내용은 관리자가 확인한 후 최대한 빠르고 순차적으로 답변을 해드립니다.
                </p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-8 text-center">
                <a class="btn btn-primary btn-xl" href="">채팅으로 문의하기</a>
            </div>

        </div>
    </div>
</section>
</body>
{{>layout/footer}}